@model CartViewModels

@if (string.IsNullOrEmpty(Model.Status))
{
    <div class="well well-small">
        <a id="myCart" asp-action="Cart" asp-controller="User">
            <img id="" src="~/themes/images/ico-cart.png" alt="cart">
            <span id="cart-items-count">
                @Model.ItemsCount Items in your cart
            </span>
            <span id="cart-total" class="badge badge-warning pull-right">@Model.TotalCurency()</span>
        </a>
    </div>
}
else
{
    <div class="well well-small">
        <a id="myCart" asp-action="Cart" asp-controller="User">
            <img id="" src="~/themes/images/ico-cart.png" alt="cart">
            <span id="cart-items-count">@Model.Status</span>
            <span id="cart-total" class="badge badge-warning pull-right" style="display:none"></span>
        </a>
    </div>
}