@{
    ViewData["Title"] = "Home Page";
}

@{
    Html.RenderPartial("_CarouselPartialView");
}
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                @{
                    Html.RenderPartial("_CartPartialView");
                }
                @await Component.InvokeAsync("Category")
                <br />
                @await Component.InvokeAsync("LastestProduct")
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <div class="well well-small">
                    <h4>
                        Featured Products
                        @*<small class="pull-right">200+ featured products</small>*@
                    </h4>
                    @await Component.InvokeAsync("HomeFeaturedProduct")
                </div>
                <h4>Latest Products </h4>
                @await Component.InvokeAsync("HomeLastestProduct")

            </div>
        </div>
    </div>
</div>